html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 125%;  /* default 16px */
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}



/* scale standard buttons */
button, 
.button-class,
select {
  font-size: 1rem; /* inherits updated root font sizes */
  padding: 0.2em 0.5em; /* vert-hor; em makes padding scale w text */
  border-radius: 5px; /* accidentally made a weird little outline thing */
}
button { margin-left: 15px; }

/* radio button labels - and other labels maybe */
label {
  font-size: 1rem;
}

/* all inputs - incl text output box (readonly input) */
input {
  height: 1.25rem;
  border-radius: 5px; /* accidentally made a weird little outline thing */
}

/* actual radio circle size */
input[type="radio"] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle; /* keep circle aligned with text */
}

/* target output text boxes ONLY */
/* divs with id=result */
div#result {
  /* size and display settings */
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  min-height: 1.5em;
  max-height: 20em;
  margin-top: 15px;

  /* text formatting */
  font-family:'Courier New', Courier, monospace;
  font-size: .8rem;
  overflow-wrap: break-word;  /* disallow x-overflow */
  overflow-y: hidden;          /* cuts off y-overflow */
  /* text-overflow: ellipsis;   adds '...' if text is too long */

  
  /* boxy things */
  background-color: #f4f4f4; /* default disabled input background */
  border: 1px inset #4b4b4b; /* 767676 - inset = cool thing from earlier */
  border-radius: 5px;
}